:root {
    --bg-color: #E5E5E5;
    --text-color: #000000;
    --text-second-color: #FFFFFF;
    --fon-color: #06071B;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    border: 5px solid #f44336;
}

.team-container {
    width: 1280px;
    margin: 0 auto;
}

.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

/* OUR TEAM */

.team-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 80px;
}

.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: auto 196px;
    padding-bottom: 56px;
}

.team-list {
    display: flex;
    align-items: center;
}

.team-item {
    margin-right: 24px;
    background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
    border-radius: 15px;
}


.team-subtitle {
    padding-top: 20px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--text-second-color);
}

.team-desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--text-second-color);
    padding-bottom: 12px;
}

.team-name {}