body {
  font-family: 'Inter', sans-serif;
}
:root {
  --white: #ffffff;
  --font-family: 'Inter', sans-serif;
  --background-color: #06071b;
}

.list {
  list-style: none;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}

.adasad {
  background-color: var(--background-color);
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 12px;
}

.secondary-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}
.text {
  margin-top: 0;
  padding: 0;
  margin-bottom: 62px;
}
.last-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.download-btn {
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  color: var(--white);
  font-family: var(--font-family);
  border-radius: 5px;
  padding: 12px 60px 12px 60px;
  align-items: center;
  display: flex;
}
.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
img {
  display: block;
}
.download-btn:hover,
.download-btn:focus {
  background: #06071b;
  border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.iphone {
  padding: 0 36px 28px 8px;
  display: flex;
  margin-left: 800px;
}

.camera {
  justify-content: center;
  display: flex;
}
